<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h2>Films not returned</h2>
    <div class="awards content">
      <table class="pure-table pure-table-horizontal center">
          <thead>
            <th colspan="5" class="film-details">Select Store to get films not returned for that location</th>
          </thead>
          <tbody>
                <% stores.forEach(store => { %>
                  <tr>
                    <td>
                      <a href="<%= store.store_id %>">  <%= store.address %> </a>
                    </td>
                    <td>
                      <%= store.city %>
                    </td>
                    <td>
                      <%= store.district %>
                    </td>
                    <td>
                      <%= store.country %>
                    </td>
                  </tr>
                <% })%>
          </tbody>
      </table>
      </body>
  <%- include('./partials/foot.ejs') %>
</html>
