<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h2>Top 10 Grossing Film Rentals by Store</h2>
    <div class="awards content">
      <h3 class="margin-bottom">Location: <%= store[0].store_address %></h3>
      <table class="pure-table pure-table-horizontal center">
      <thead>
        <th>Ranking</th>
        <th>Film Title</th>
        <th>Grossed</th>
      </thead>
      <tbody>
        <% let counter = 1 %>
        <% if (store.length > 0) { %> <% store.forEach(film => { %>
        <tr>
          <td><%= counter %></td>
          <% counter++ %>
          <td><%= film.title %></td>
          <td><%= film.rental_dollars%></td>
        </tr>
        <% }) %> <% } %>
      </tbody>
      </table>
      </body>
  <%- include('./partials/foot.ejs') %>
</html>
